ul{
    list-style: none;
}


.all{
 align-items: center;
}

.Username{
    margin: 50px, 100px;
}

.kekka{
    font-size: 500px;
    float: right;
}
.content{
    float: left;
}

#date{
    display: none;
}